*{margin: 0;padding: 0;box-sizing: border-boxs;}
ul,ol,li{list-style:none;}
a{color: #000;}
img{vertical-align: top;}
table{border-collapse: collapse;}
.clear:after{content: '';display: block;clear: both;}


/* -------sec1--------- */
#wrap{
  width: 100%;
  max-width: 1900px;
  min-width: 1200px;
  margin: 0 auto;
}
#sec1{
  /* margin-top: 10px; */
  height: 600px;
  background: url(./img/sec1_bg.jpg) no-repeat center center;
  text-align: center;
  z-index: -2;
}
#sec1_wrap{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  z-index: 0;
}
.vote_img{
  width: 128px;
  height: 127px;
  background: url(./img/sec1_stamp.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 70px;
  right: 297px;
  z-index: -1;
}
.sec1_img{
  position: relative;
  right: -22px;
}
/* -------sec1--------- */

/* -------sec2--------- */
#sec2{
  background-color: #70c8cc;
}
#sec2_cont{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: -50px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.sec2_list{
  width: 840px;
  margin: 0 auto;
  padding: 50px 0 80px;
}
.sec2_list li{
  height: 350px;
  margin-bottom: 80px;
}
.sec2_list li:last-child{
  margin-bottom: 0;
}
.sec2_list li .sec2_img{
  float: left;
}
.sec2_list li .sec2_text{
  width: 338px;
  height: 350px;
  float: left;
  position: relative;
}
.sec2_list li:nth-child(odd) .sec2_img{
  margin-right: 160px;
}
.sec2_list li:nth-child(even) .sec2_img{
  margin-left: 160px;
}
.sec2_list li .sec2_img .img_ex{
  width: 342px;
  height: 350px;
  background-color: #eee;
}
.sec2_list li .sec2_img .img_ex img{
  width: 100%;
}
.sec2_text .text_title{
  padding: 30px 0 35px;
}
.sec2_text .text_btn{
  width: 257px;
  height: 60px;
  background: url(./img/btn1.png);
  position: absolute;
  bottom: 22px;
  left: 0;
}
.sec2_text .text_btn a{
  display: block;
  height: 60px;
}
.sec2_text .text_btn:hover{
  background-position: 0 bottom;
}
/* -------sec2--------- */


